/* Reset */
body, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

 a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: underline;
}

header {
    background-color: #f6f7f8;
    border: 2px solid;
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 5px;
    border-top-color: rgb(229, 230, 233);
    border-right-color: rgb(223, 224, 228);
    border-left-color: rgb(223, 224, 228);

}

nav {
    margin-top: 5px;
    background-color: #f6f7f8;
    border-right: 2px solid rgb(223, 224, 228);
    border-left: 2px solid rgb(223, 224, 228);
}

/* Style padding 12px*/
body{
    margin: 0 auto;
    padding: 0;
    background-color: #E9EAED;
    width: 960px;
}

aside {
    margin-top:5px;
    float: left;
    height: 300px;
    width: 170px;
    background-color: white;
    border-left: 2px solid rgb(223, 224, 228);
}

footer {
    margin-top: 5px;
    background-color: #f6f7f8;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 2px solid;
    border-bottom-color: rgb(208, 209, 213);
    border-top: none;
    border-right: 2px solid rgb(223, 224, 228);
    border-left: 2px solid rgb(223, 224, 228);
    padding:10px;
}

footer p{
    text-align: center;
}

#logo{
    float:left;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    padding: 0 7px;
}

#user_control{
    float:right;
}

.signin_button{
    border-radius: 3px;
    border:1px solid;
    margin:9px;
    padding: 5px;
    background-color: #e1e1e1;
    width: 70px;
    text-align: center;
}
.signin_button a, .signin_button a:visited, .signin_button a:hover, .signin_button a:active {
    color: inherit;
    text-decoration: none;
}

#contentLoggedOff {
    margin-top:5px;
    padding:10px;
    background-color: white;
    height: 500px;
    border-right: 2px solid rgb(223, 224, 228);
    border-left: 2px solid rgb(223, 224, 228);
}

#contentLoggedIn {
    margin-top:5px;
    background-color: white;
    height: 500px;
    margin-left: 177px;
    border-right: 2px solid rgb(223, 224, 228);
}

#descriereLoggedOff {
    width:560px;
    float:left;
    padding: 20px;
    text-indent: 30px;
    font-weight: bold;
}

#signUp {
    margin-left: 607px;
}

#signUp input{
    display: block;
    margin-bottom: 15px;
    margin-left: 30px;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid;
    width: 230px;
}

#signUp input[type="submit"]{
    width: 242px;
}

#signUpForm{
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
    border-left: 1px solid gray;
}

#description1{
    font-size: 50px;
    margin-bottom: 10px;
}
#description2{
    font-size: 20px;
    text-align: justify;
}

.signout_button{
    border-radius: 3px;
    border:1px solid;
    margin:9px;
    padding: 5px;
    background-color: #e1e1e1;
    width: 70px;
    text-align: center;
}
.signout_button a, .signout_button a:visited, .signout_button a:hover, .signout_button a:active {
    color: inherit;
    text-decoration: none;
}

.button{
    border-radius: 3px;
    border:1px solid;
    margin:9px;
    padding: 5px;
    background-color: #e1e1e1;
    text-align: center;
}
.button a, .button a:visited, .button a:hover, .button a:active {
    color: inherit;
    text-decoration: none;
}